<button class="btn" (click)="randomShuffle(2000)">Shuffle</button>
<button class="btn" (click)="solve()">Solve</button>
<select [(ngModel)]="boardSize" (change)="setBoardSize(boardSize)">
    <option *ngFor="let item of [3,5]" >{{item}}</option>
</select>
<div class="board-wrapper">
    <div class="board-row" *ngFor="let item of board | keyvalue">
        <div *ngFor="let sub of item.value | keyvalue" class="board-cell" (click)="startShuffle(item.key, sub.key, true)">
            <div [class]="'full-height center ' + sub.value.class">{{sub.value.val}}</div>
        </div>
    </div>
</div>

<button (click)="backInHistory()">{{"<-"}}</button>
<button (click)="forwardInHistory()">{{'->'}}</button>